* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



.home-header-background, .watch-page-background{
    position: absolute;
    width: 100%;
    justify-self: center;
    align-content: space-between;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;


}

.blur-background{
    background-color: hsla(189, 87%, 18%, 0.35);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    height: 100%;
    padding-bottom: 2%;
}

.black-gradient{
    background:linear-gradient(10%, black 100%)
}


.home-header, .content-details-site-header{
    position: relative;
    margin: 0;

}

.trending-content{
    display: flex;
    width: 100%;
    padding: 2%;
    height:100%;
    justify-self: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.trending-content>*{
    margin:0 1rem 0 1rem;
    max-width: 40%;
    height: 100;
}
.trending-content-image{
    border-radius:2rem;
    width: 130%;
    height:  130%;

}
.trending-content-info{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;

}
.trending-content-info>*{
    margin:0 0 1rem 0;


}
.trending-content-info>h1{
    margin: 0;
}
h1{
    font-size: 2rem;
    font-family: "Pathway Extreme",sans-serif;
}


.content-change{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:50%;


}

.trending>:not(:first-child){
    display: none;
}


.change-content-button{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    -webkit-backdrop-filter: blur(10rem);
    backdrop-filter: blur(10rem);
    margin-bottom: 1rem;
}

.share-this{
    margin-top: 2rem;
    background-color: rgb(70, 70, 70);
    padding: 2rem 3rem 2rem 2rem;
    border-radius: 1rem;
    width: fit-content;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.icon{
    width: 2rem;
    height: 2rem;
}

.trending-top{
    margin: 2% 0 2% 0;
    display: flex;
    width: 96%;
    justify-self: center;
    align-items: center;
}

.series-list{
    display: none;

}


.top-rated-heading{
    display: flex;
    gap: 1%;
    width: 96%;
    justify-self: center;
    align-self:center;
    align-items: center;
    margin: 2% 0 2% 0;
}
.top-rated-heading>div>p {
    color: rgb(100, 100, 100);
    font-weight: 500;

}
.top-rated-link , .trending-link {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 16px;
    margin: 1rem;
    color: white;
}

.top-rated{
    width: 100%;
    height: 40%;
    padding: 2%;
    background-color: #21496c;
}
.most-rated-movie.movie-list{
    overflow-x: hidden;
    width: 100vw;
    white-space: nowrap;
}
.most-rated-movie,.most-rated-series {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.most-rated-movie >div ,.most-rated-series >div {
    width: 50%;
}

.most-rated-movie>:first-child>* , .most-rated-series>:first-child>* {
    margin: 2rem;
}
.most-rated-link {
    padding: 0.5em;
    background-color:rgba(0, 0, 0, .2);
    color: aqua;
    border-radius: 0.5rem;
    font-size: small;
}
.watch{
    color: aqua;
    background-color:hsla(177, 99%, 48%, 0.3);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    width: 10rem;
    margin: 2rem 0 0 0; 

}
.watch>span {
    width: 100%;
    height: 100%;
}

.watch:hover {
    color: black;
    background-color: aqua;
    padding: 1.5rem;
    transition: 7ms;
    white-space: nowrap;
   
    .play-icon{
        color: black;
    }
}
.play-icon-image{
    background: none;
    width: 100%;
    height: 100%;
}

.most-rated-image{
    border-radius: 1rem;
    box-shadow: 0px 2rem 2rem rgb(40, 40, 40);
    width: 100%;
}
.top-rated-movies{
    display: flex;
    flex-direction: column;
    
}
.top-rated-movies>* {
    margin: 2rem;
}

.top-rated-series {
    display: none;

}
.top-rated-series>* {
    margin: 1rem;
}

.login-box{

    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: hsla(0, 0%, 1%, 0.616) ;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}
.full-login-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
    padding: 0%;
}
.dialogBox-Headers{
    font-size:2rem ;
}

.close-login-div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.close-login{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image{
    width: 100%;
    margin: 0%;
}

.login-form-div{
background-color: hsla(0, 0%, 30%, 0.246);
width:100%;
margin: 0;
-webkit-backdrop-filter: blur(1rem);
backdrop-filter: blur(1rem);

}
.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color:white;
    padding: 5%;
    margin: 0;
    word-spacing: 1px;



}

.register-form{
    display: none;
    width: 100%;
    height: 100%;
    color:white;
    padding: 10%;
    word-spacing: 1px;

}
.forgotten-password-form{
    display: none;
    width: 100%;
    height: 100%;
    color:white;
    padding: 10%;
    word-spacing: 1px;

}

.login-form-input{
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
    color: white;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}
.login-form-input:focus{
    border-bottom:1px solid aqua;
    outline: none;
}

.login-submit,.register-submit,.forgotten-password-submit{
    background-color: aqua;
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem 0 2rem 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    font-family: Pathway Extreme, sans-serif;
}
.login-box-bottom-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}
.login-box-bottom-links>*{
margin: 1rem;
}
.forgotten-password{
    color: white;
}
.forgotten-password:hover{
    color: aqua;
}
.register-login-link{
    color: aqua;
}

 .login-form>*, .register-form>*,.forgotten-password-form>*{
    margin-bottom: 1rem;
 }


body {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: rgb(10, 10, 10);
}

.latest{
    display: flex;
    width: 96%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.trending{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.trending {
    list-style: dotted;
}

.trending::after {
    margin-left: 5rem;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
    max-width: 96%;
    justify-self: center;
}



.login {
    padding:0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
}

.searchbar{
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(70, 70, 70);
    color: white;
    padding: 2%;
    border-radius: 0.2rem;
    width: 50rem;

}

a {
 text-decoration: none;


}

.top_link{
    color: white;
}

a:hover{
    color: aqua;
}

.login:hover {
    color: black;
}

.hyperlinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
    letter-spacing: 1px;

}

.general-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

section {
    max-width: 50%;
    align-self: center;
}

article{
    margin-top: 10%;
    margin-bottom: 10%;
}

.contact_info {
    background-color: #21496c;
    border-radius: 2rem;
    padding:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.movie_link, .movie_link:hover{
    background-color: aqua;
    padding: 2%;
    border-radius: 0.5rem;
    font-size: larger;
    font-weight: 600;
    color: black;
    margin:1rem;
}

 .unordered-list-index{
    list-style-type:none;
    margin-left: 3rem;
}
.unordered-list-index>li::before{
    content: "-";
}
.trending-list {
    list-style: none;

}
.content-list-header{
    width: 100%;
    padding: 1% 2% 1% 2%;
}
.content-list-header>*{
    margin-right: 1rem;
}

.page-list-number-section{
    display: flex;
    width: 20%;
    margin: 2% 0 2% 0;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.page-list-number-section>*{
    margin: 0 0.5rem 0 0;
}
.page-list-link{
background-color: rgb(40, 40, 40);
padding: 1rem;
border-radius: 0.5rem;
white-space: none;
color: white;
font-family: sans-serif;
font-weight: 700;
}
.page-list-link:hover{
    background-color: aqua;
    color: black;
}



footer {
    background-color: rgb(25, 25, 25);
    height: 30vh;
    width: 100%;
    padding: 2% 4% 2% 4%;
    display: flex;
    gap: 5%;
    font-size: small;
}
.footer-icon{
    width:10rem;

}
.about-footer-content{
    padding: 0.5rem 0 0.5rem 0;
}
#toggle{
    color: white;
}

#toggle:hover{
    color: white;
}


.about-section{
    display: flex;
    flex-direction: column;
    align-content:space-between;
    height: 100%;
    padding: 0;
    margin: 0;

}

.about-link {
    color: aqua;
    margin-right:2rem;
}
.about-links {
    display: flex;
    margin: 2rem 0 0 0;
    padding: 0;
}
.links-section{
    margin: 0%;
}
.links-section-p{
    display:flex;
    padding: 0%;
    margin: 0;

}
.link-section-list{
    list-style: none;
    margin: 0.5rem 0 0,5rem 0;
    margin-right: 1rem;
}
.link-section-list>*{
    padding:0.5rem 0 0.5rem 0;
}
.link-section-list>li>a{
    color: white;
    padding: 1rem 0 1rem 0;
    white-space: nowrap;
}
.link-section-list>li>a:hover{
    color: aqua;
}

.bottom_about {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0%;
}
.go-top-div{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    white-space: nowrap;
    margin: 0;
}
.go-top {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    margin: 0;
}
.go-top:hover{
    color: black;
    background-color: bisque;
}

.bottom_link:hover {
    color: black;
}

.movie {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-self: center;
    width: 100%;
}

.active_page {
    color: aqua;
}

.movie-list {
    display:flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 96%;
    justify-self: center;
}

.overlay_content {
     position: relative;
     display: flex;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.movie_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    font-size: larger;
    font-weight: 500;
    color: white;
    background:linear-gradient(0deg, rgba(29, 29, 29, .7) 0, rgba(29, 29, 29, .7) 60%, rgba(29, 29, 29, 0) 100%)

}
.info {
    display: flex;
    font-family: pathway extreme;
}

.info> span {
    background-color:hsla(180, 57%, 65%, 0.548) ;
    padding: 0.2rem;
    color: aqua;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.2rem 0;
    font-size: 1rem;
}

.top-overlay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;

}

.bookmark {
    font-size: 2rem;
    font-weight: 700;
}

.overlay>h1 {
    margin: 0.5rem;

}
.overlay{
    color: white;
}

.overlay:hover + .main_image{
    width: 150%;
    height: 150%;
}

.overlay:hover {

    .movie_description {

        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        max-width: 90%;
        opacity: 200%;
        border-radius: 0.5rem;
        background: hsl(100, 67%, 96%, 0.1);

}

}

.series {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-self: center;
}

.series-list {
    display:flex;
    gap: 0.5rem;
    padding: 1%;
    flex-wrap: wrap;
}

/* this is for the view page of a series after it has been selected to be watched */

.series-view-main {
    display: flex;
    width: 100%;
}

.series-episode{
    background-color: rgb(70, 70, 70);
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;

}

.series-episode>:first-child {
 width: 90%;
 margin-top: 1rem;
 display: grid;
 grid-template-columns:70% 30% ;
 margin-bottom: 1rem;



}

.video-side {
display: flex;
flex-direction: column;
justify-content: center;
}

.video-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(30, 30, 30);
}
.server-upload>*{
    margin: 1rem;
}
.server-select{
    color: aqua;
    
}
#select-server{
    background-color: rgb(30, 30, 30);
    color: aqua;
    border: none;
}

.server-note{
    opacity: 30%;
}
.toggle-watch-comment{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.episode-side {
    background-color: rgb(30, 30, 30);
}


.series-heading{
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}
.series-heading :last-child {
    display: flex;
    width: 20%;
    justify-content: space-around;
    white-space: nowrap;
}
.current-episode {
    width: 100%;
    height: 100%;

}
.current-episode>* {
    width: 100%;
    height: 100%;
}

.season-number {
    background-color: rgb(30, 30, 30);
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-family: pathway extreme,  sans-serif;
}
.season-number>div{
    border-radius: 2px solid white;
}
.season-number>div>select {
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
}
.episode-list {
    background-color: rgb(40, 40, 40);
    padding: 1rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
}
.episode-list>ul{
    list-style: none;
}

.episode-number{
    height: 2rem;
    display: flex;
    align-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: white;
}
.episode-number:hover {
    color:white;
}

.episode-name:before{
    content:"|";
    margin: 0 1rem 0 1rem;
    word-spacing: normal;
}
.episode-name {
    opacity: 50%;
}
/* This is for the view page of a movie after  it has been selected to watch*/

.movie-watch-background{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.movie-watch-div{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    width: 60%;
    margin: 0;
    padding: 0%;
}
.movie-content{
    height: 100%;
}
.movie-watch-header,.movie-watch-footer{
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.server-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.toggle-watch-comment-links{
    color: white;
}
.toggle-watch-comment-links:hover{
    color: white;
}
.discussion-section{
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thoughts{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.emoji{
    margin: 1rem 1rem 0 0;
}
.comment-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 70%;
}
/*the code below is for the page that appears when you click on something to watch*/

.movie-detail-section{
    width: 70%;
    display: flex;
    justify-self: center;
    margin:1% 0 1% 0;
}
.overlapping-elements{
    display: flex;
    position: relative;
}
.cover-photo{
    margin-top: 10%;
    margin-right:-50%;
    width: 25rem;
    height: 30rem;
    z-index: 100;

}
.overlapping-background{
    width: 50%;
    background-color: hsl(100, 67%, 96%, 0.4);
    height: 100%;
}
.series-detail-section{
    width: 96%;
    display: flex;
    justify-self: center;
}

.main-movie-detail-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    -webkit-backdrop-filter: blur(20rem);
    backdrop-filter: blur(20rem);
    background-color: hsl(100, 67%, 96%, 0.2);
    margin: 0;
    padding: 2%;
    
}
.movie-details>*{
    margin-bottom: 2rem;
}
.movie-details{
    width: 90%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie-page-link{
    background-color: white;
    color: black;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 530;
    font-family: 'pathway extreme', sans-serif;
}
.review-movie{
    display: flex;
    width: 100%;
    align-items: center;
}
.review-movie>* {
    margin: 0 1rem 0 1rem;
}
.partition{
    display: flex;
    height: 100%;
    color: white;
    transform: rotate(90);
    opacity: 30%;
}
.watch-movie{
    background-color:aqua;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
}

.rating{
    background-color: white;
    color: black;
    display: none;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.rating-link{
    color: white;
    opacity: 50%;
}
.rating-link:hover{
    color: white;
    opacity: 50%;
}
.rate{
    margin-bottom: 0.5rem;

}
.rate:hover{
    opacity: 70%;
    background-color: hsla(0, 0%, 30%, 0.246);
}
.movie-page-link:hover{
    opacity: 70%;
    color: black;
}

.content-details{
    color: white;
}
.read-full{
    color: white;
    background-color: hsl(100, 67%, 96%, 0.3);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    word-spacing: 1px;
    border: none;
    border-radius: 0.2rem;
    opacity: 70%;
}
.read-full:hover{
    color: white;
}
.read-more{
    display: none;
    padding: 1rem;
    background-color: white;
    color: black;
    word-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.credits{
    display: flex;
    gap: 5%;

}
.credit-position {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    font-weight: 700;
}
.credit-position-info{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.credit-position>*, .credit-position-info>*{
    margin: 0.5rem 0 0.5rem 0;
}
.credit-link{
    color: white;
}

