* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


.home-header-background{
    position: absolute;
    width: 100%;
    justify-self: center;
    align-content: space-between;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
.blur-background{
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: hsla(189, 100%, 25%, 0.7);
}

.home-header{
    position: relative;
}


.trending-content{
    display: flex;
    width: 100%;
    height:100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.trending-content>*{
    margin:0 1rem 0 1rem;
    max-width: 40%;
    height: 100;
}
.trending-content-image{
    border-radius:2rem;
    width: 150%;
    height:  150%;

}
.trending-content-info{
    height :100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.trending-content-info>*{
    margin:0 0 1rem 0;


}

.trending-top{
    margin: 1rem;
    display: flex;
    width: 90%;
    justify-self: center;
    align-items: center;
}

.series-list{
    display: none;
}


.top-rated-heading{
    display: flex;
    gap: 1%;
    width: 90%;
    justify-self: center;
    align-self:center;
    align-items: center;
    margin-bottom: 1%;
}
.top-rated-heading>div>p {
    color: rgb(100, 100, 100);
    font-weight: 500;

}
.top-rated-link , .trending-link {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 16px;
    margin: 1rem;
    color: white;
}

.top-rated{
    width: 100%;
    height: 40%;
    padding: 2%;
    background-color: #21496c;
}
.most-rated-movie,.most-rated-series {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.most-rated-movie >div ,.most-rated-series >div {
    width: 50%;
}

.most-rated-movie>:first-child>* , .most-rated-series>:first-child>* {
    margin: 2rem;
}
.most-rated-link {
    padding: 0.5em;
    background-color:rgba(0, 0, 0, .2);
    color: aqua;
    border-radius: 0.5rem;
    font-size: small;
}
.watch{
    color: aqua;
    background-color:hsla(177, 99%, 48%, 0.3);
    padding: 1rem;
    border-radius: 16px;
}

.most-rated-image{
    border-radius: 1rem;
    box-shadow: 0px 2rem 2rem rgb(40, 40, 40);
}
.top-rated-movies{
    display: flex;
    flex-direction: column;
    
}
.top-rated-movies>* {
    margin: 2rem;
}

.top-rated-series {
    display: none;

}
.top-rated-series>* {
    margin: 1rem;
}


body {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: rgb(10, 10, 10);
}



.latest>ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.latest>ul {
    list-style: dotted;
}

.latest >ul ::after {
    margin-left: 5rem;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;

}

img {
    max-width: 100%;
    max-width: 100%;
}

.login {
    padding:0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
}

.searchbar{
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(70, 70, 70);
    color: white;
    padding: 2%;
    border-radius: 0.2rem;
    width: 50rem;

}

a {
 text-decoration: none;


}

.top_link{
    color: white;
}

a:hover{
    color: aqua;
}

.login:hover {
    color: black;
}

.hyperlinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
    letter-spacing: 1px;
}

.general-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

section {
    max-width: 50%;
    align-self: center;
}

article{
    margin-top: 10%;
    margin-bottom: 10%;
}

.contact_info {
    background-color: #21496c;
    border-radius: 1rem;
    padding:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.movie_link, .movie_link:hover{
    background-color: aqua;
    padding: 2%;
    border-radius: 0.5rem;
    font-size: larger;
    font-weight: 600;
    color: black;
    margin:1rem;
}

 .unordered-list-index{
    list-style: none;
    margin-left: 3rem;
}

.trending-list {
    list-style: none;

}


footer {
    padding-top: 1rem;
    background-color: rgb(25, 25, 25);
    height: 20vh;
    display: grid;
    grid-template-columns: 20% 30% 25% 1fr;
    gap: 5%;
    padding: 2%;
    font-size: small;
}

.bottom_links {
    color: aqua;
}
.bottom-p {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 1rem;
}

.bottom_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.bottom_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 40%;
    height: 30%;
    border-radius: 1rem;
    padding: 1rem;
}

.bottom_link:hover {
    color: black;
}

.movie {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-self: center;
    width: 100%;
}

.active_page {
    color: aqua;
}

.movie-list {
    display:flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.overlay_content {
     position: relative;
     display: flex;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.movie_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    font-size: larger;
    font-weight: 500;
    color: white;
    background:linear-gradient(0deg, rgba(29, 29, 29, .7) 0, rgba(29, 29, 29, .7) 60%, rgba(29, 29, 29, 0) 100%)

}
.info {
    display: flex;
    font-family: pathway extreme;
}

.info> span {
    background-color:hsla(180, 57%, 65%, 0.548) ;
    padding: 0.2rem;
    color: aqua;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.2rem 0;
    font-size: 1rem;
}

.top-overlay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;

}

.bookmark {
    font-size: 2rem;
    font-weight: 700;
}

.overlay>h1 {
    margin: 0.5rem;

}
.overlay{
    color: white;
}

.overlay:hover {

    .movie_description {

        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        max-width: 90%;
        opacity: 200%;
        border-radius: 0.5rem;
        background: hsl(100, 67%, 96%, 0.1);

}


}

.series {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-self: center;
}

.series-list {
    display:flex;
    gap: 0.5rem;
    padding: 1%;
    flex-wrap: wrap;
}

/* this is for the view page of a series after it has been selected to be watched */

.series-view-main {
    display: flex;
    width: 100%;


}


.series-episode{
    background-color: rgb(70, 70, 70);
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;

}
.series-episode>:first-child {
 width: 90%;
 margin-top: 1rem;
 display: grid;
 grid-template-columns:70% 30% ;
 margin-bottom: 1rem;



}
.video-side {
display: flex;
flex-direction: column;
justify-content: center;
}

.video-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(30, 30, 30);
}
.server-upload>*{
    margin: 1rem;
}
.server-select{
    color: aqua;
}
#select-server{
    background-color: rgb(30, 30, 30);
    color: aqua;
    border: none;
}

.server-note{
    opacity: 50%;
}
.toggle-watch-comment{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.episode-side {
    background-color: rgb(30, 30, 30);
}


.series-heading{
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}
.series-heading :last-child {
    display: flex;
    width: 20%;
    justify-content: space-around;
    white-space: nowrap;
}
.current-episode {
    width: 100%;
    height: 100%;
    background-color: white;
}

.season-number {
    background-color: rgb(30, 30, 30);
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-family: pathway extreme,  sans-serif;
}
.season-number>div{
    border-radius: 2px solid white;
}
.season-number>div>select {
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
}
.episode-list {
    background-color: rgb(40, 40, 40);
    padding: 1rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
}
.episode-list>ul{
    list-style: none;
}

.episode-number{
    height: 2rem;
    display: flex;
    align-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: white;
}
.episode-number:hover {
    color:white;
}

.episode-name:before{
    content:"|";
    margin: 0 1rem 0 1rem;
    word-spacing: normal;
}
.episode-name {
    opacity: 50%;
}

