* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: rgb(15,15, 15);
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
header{
    display: flex;
    background-color: black;
    margin-bottom: 1%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;

}
img {
    max-width: 100%;
    height: 100%;
}
.login {
    padding:0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
}

.searchbar{
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(70, 70, 70);
    color: white;
    padding: 5%;
    border-radius: 0.2rem;
    max-width: 100%;

}

a {
 text-decoration: none;


}

.top_link{
    color: white;
}

a:hover{
    color: aqua;
}

.login:hover {
    color: black;
}
.hyperlinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
p {
    margin-top: 1%;
    margin-bottom: 1%;
    letter-spacing: 1px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

section {
    max-width: 50%;
    align-self: center;
}

article{
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact_info {
    background-color: #21496c;
    border-radius: 1rem;
    padding:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.movie_link, .movie_link:hover{
    background-color: aqua;
    padding: 2%;
    border-radius: 0.5rem;
    font-size: larger;
    font-weight: 600;
    color: black;
    margin:1rem;
}

ul {
    list-style: none;
    margin-left: 3rem;
}

ul > li::before {
    list-style: none;
    content: "-";
    margin-left: 0.5rem;
}

footer {
    background-color: rgb(30, 30, 30);
    height: 20vh;
    display: grid;
    grid-template-columns: 20% 30% 25% 1fr;
    gap: 5%;
    padding: 1%;
}

.bottom_links {
    color: aqua;
}
.bottom-p {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.bottom_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.bottom_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 50%;
    height: 50%;
    border-radius: 1rem;
    padding: 1%;
}

.bottom_link:hover {
    color: black;
}

.movie {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-self: center;
}

.active_page {
    color: aqua;
}

.movie-list {
    display:flex ;
    gap: 0.5rem;
    padding: 1%;
    flex-wrap: wrap;
}

.overlay_content {
     position: relative;
     display: flex;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.movie_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    justify-content: center;
    padding: 1rem;
    font-size: larger;
    font-weight: 500;
    color: white;
    background:linear-gradient(0deg, rgba(29, 29, 29, .7) 0, rgba(29, 29, 29, .7) 60%, rgba(29, 29, 29, 0) 100%)

}
.info {
    display: flex;
    font-family: pathway extreme;
}

.info> span {
    background-color:hsla(180, 57%, 65%, 0.548) ;
    padding: 0.2rem;
    color: aqua;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.2rem 0;
    font-size: 1rem;
}

.top-overlay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;

}

.bookmark {
    font-size: 2rem;
    font-weight: 700;
}

.overlay>h1 {
    margin: 0.5rem;

}
.overlay{
    color: white;
}

.overlay:hover {

    .movie_description {

        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        max-width: 90%;
        opacity: 200%;
        border-radius: 0.5rem;
        background: hsl(100, 67%, 96%, 0.1);

}
.main_image {
    transform: scale(2);
}
}


